<%= render "home/navbar" %>
<div class="col-md-6">
    
    <div class="container">
    <br><br>
    <div class="row">
      <div class="col-12">
        <h1> Friends</h1>
      </div>
    </div>
    <br>
    <div class="row">

          <div class="col-4">
            <label style="color: aliceblue;font-size: 23px;width:250px; font-weight: bold;" for="example-text-input" class="col-2 col-form-label">Friend Email:</label>
          </div>

          <div class="col-8">
            <div class="input-group mb-3">
     <%= form_with url: "/addFriend", scope: :friend do |form| %>
                          <%= form.hidden_field :user_id, value: current_user.id %>
                          <%= form.text_field :email  , :class => "form-control" ,:placeholder =>'Email' %>        
                          <div class="input-group-append">
                            <%= form.submit 'Add' , :class => "btn btn-outline-secondary but" %>
                            </div>
                          <% end %>
    </div>
    <div class="validation-messages">
      
      </div>
      <div class="row">
      <div class="col-12">
        <h1> Friends list</h1>
      </div>
    </div>
    <div class="frlist user_friends row">
     <% !@friends.empty? %>
     <%= render @friends %>
        
            
    </div>
    </div>
