<%= render "home/navbar" %>
<div class="col-md-6">
        <div class="label3 Fr">
          Friends
        </div>
    </div>
     
    <div class="add">
     <span class="p">your friend email:</span> 
     <%= form_with url: "/addFriend", scope: :friend do |form| %>
                          <%= form.hidden_field :user_id, value: current_user.id %>
                          <%= form.text_field :email  , :class => "form-control" ,:placeholder =>'Email' %>        
                          <div class="input-group-append">
                            <%= form.submit 'Add' , :class => "btn btn-outline-secondary but" %>
                            </div>
                          <% end %>
    </div>
    <div class="validation-messages">
      
      </div>
    <div class="frl">
        Friend List
    </div>
    <div class="frlist user_friends">
     <% !@friends.empty? %>
     <%= render @friends %>
        
            
    </div>
