<body>
<%= render "home/navbar" %>
<div class="all col-md-12">
  <div class="left col-md-6">
    <div class="label">
      Last Orders
    </div>
    <div class="info">
  
    <% @lastOrder.each do |order| %>
<p>
<%= order.meal %> on <%order.created_at%>
</p>
      
<% end %>     
    </div>
  </div>
  <div class="right col-md-6">
    <div class="label2">
      Friend Activity
    </div>
    <div class="info">
      <p>
       
        <% @friendActivity.each do |order|%>
          <p>
          <%= User.find_by_id(order.user_id).username %>
             has created anorder for
                    <%= order.meal %> 
                    from
                  <%= order.restaurant_name %>
          </p>
          <% end %>  
    </div>
  </div>
</div>
</body>



