<body>
<%= render "home/navbar" %>
<div class="all col-md-12">
  <div class="left col-md-6">
    <div class="label">
      Last Orders
    </div>
    <div class="info">
  
    <% @lastOrder.each do |order| %>
<p>
<%= order.meal %> on <%= order.created_at%>
</p>
      
<% end %>     
    </div>
  </div>
  <div class="right col-md-6">
    <div class="label2">
      Friend Activity
    </div>
    <div class="info">
      <p>
       
        <% @friendActivity.each do |order|%>
          <p>
          <span style="color: #ee4e48; font-style: italic; "> <%= User.find_by_id(order.user_id).username %>
            </span> has created an order for
                    <%= order.meal %> 
                    from
                    <span style="color: #ee4e48; font-style: italic; "> <%= order.restaurant_name %>
                    </span> </p>
          <% end %>  
    </div>
  </div>
</div>
</body>



