

<body>
<%= render "home/navbar" %>
<div class="container">
  <div class="left col-md-6">
 
      <h2> My Orders</h2>
  
  </div>
  <div class=" col-md-6 right">
    <div class="new">

       <%= link_to 'Start new Orders', "/orders/new" ,class: "start"%>
       <%= link_to "Add", {:controller => "orders", :action => "new"}%>
    
    </div>
  </div>
  <div class="tablecontant col-md-">
  <%= will_paginate @orders %>
  <div class="pagination">
  <span class="previous_page disabled">&#8592; Previous</span>
  <em class="current">1</em>
  <a rel="next" href="/products?page=2">2</a>
  <a href="/products?page=3">3</a>
  <a href="/products?page=4">4</a>
  <a class="next_page" rel="next" href="/products?page=2">Next &#8594;</a>
</div>
    <table class="table  col-md-12">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Ordre</th>
          <th scope="col">Resturnats</th>
          <th scope="col">Invited</th>
          <th scope="col">Joined</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>

        </tr>
      </thead>
      <tbody class="tb">
      <% @orders.each do |order| %>
        <tr>
        
        <td><%= order.meal %></td>
        <td><%= order.restaurant_name %></td>
        <td><%= @invited.where(order_id: order.id).count %></td>
        <td><%= @invited.where(order_id: order.id, joined: 1).count %></td>
        
        <% if order.status == true %>
        <td> finished </td>
        <% else %>
        <td> wating </td> 
        <% end %>
          <td>

          <%if order.status == false %>
           
          <%= link_to 'change', 
          { :controller => 'orders', :action => 'update', :id => order.id }, 
          {:confirm => 'Are you sure?', :method => :put }%>
            <%= link_to 'remove', 
            { :controller => 'orders', :action => 'destroy', :id => order.id }, 
            {:confirm => 'Are you sure?', :method => :delete }%>
           
            <% end %>

       
        <%= link_to 'view', order_details_path(order) ,class: "a view"%>
       </td>
        </tr> 

        <% end %>
      </tbody>
      <%= will_paginate @orders %>
    </table>
  
   

  </div>
  </div>
</div>
  <script type="text/javascript" src="//use.typekit.net/psm0wvc.js"></script>
  <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
  <script src="js/jquery-3.3.1.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>